@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$font-family;
}

header {
    color: variables.$primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px #bca4ff solid;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
}

.search--destinations {
    background-color: variables.$primary-color;
    width: 420px;
    height: 614px;
    margin: 30px;
    border-radius: 20px;
    padding: 30px;

    h3 {
        color: #bca4ff;
        font-size: 1.5rem;
    }

    div {
        display: flex;
        flex-direction: column;
        color: #f3efff;
        font-size: 1.1rem;
        line-height: 1.75rem;
        margin-block-start: 20px;
    }

    select,
    input {
        margin-block-end: 20px;
        color: #14142b;
        font-size: 1.1rem;
    }

    button {
        margin-block-start: 10px;
        background-color: variables.$secondary-color;
        color: #f7f7fc;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1.75rem;
        border-radius: 2.5rem;
        border: none;
        width: 65vw;
        margin-inline-start: 20px;
    }
}

.destination--search {
    font-family: variables.$font-family;
    height: 8vh;
    border-radius: 1rem;
    background: #eff0f7;
}

footer {
    h3 {
        color: variables.$primary-color;
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    p {
        text-align: center;
        color: variables.$text-color;
    }
    .email {
        color: #5f2eea;
    }
}

section {
    h2 {
        font-family: variables.$font-family;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 32px;
        width: 100vw;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 1em;
    }
}

.search {
    font-weight: 400;
    .search--button {
        background: variables.$secondary-color;
        color: white;
        border: none;
        border-radius: 30px;
        height: 10vh;
    }
    button {
        background: #f7f7fc;
        border: 2px solid #14142b;
        border-radius: 16px;
        font-family: variables.$font-family;
        width: 86vw;
        margin-block-start: 2vh;
        margin-block-end: 4vh;
        margin-inline-start: 7vw;
        margin-inline-end: 7vw;
        height: 6vh;
    }
    .search--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
    }
}

.img--container {
    display: flex;
    justify-content: center;
    img {
        border-radius: 2rem;
    }
}

.contact-us {
    margin-block-end: 2rem;
}

.contact-us__text--container {
    position: absolute;
    z-index: 10;
    margin-block-start: 8rem;
    margin-inline: 2rem;
    h3 {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
    }
    button {
        border: 2px solid #fcfcfc;
        border-radius: 2.5rem;
        background-color: Transparent;
        color: #fcfcfc;
        font-size: 1rem;
        width: 353px;
        height: 64px;
        margin-inline: 2rem;
        margin-block-start: 2rem;
    }
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;

    .boxes--green_box {
        background-color: #f2fffb;
        border: #00ba88;
        color: #00ba88;
        border: 2px solid;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block-start: 6vh;
        margin-block-end: 6vh;
        align-items: center;
    }
    .boxes--red_box {
        background-color: #fff3f8;
        border: #bb5d5b;
        border: 2px solid;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #bb5d5b;
        align-items: center;
    }
    .boxes p {
        margin: 1em;
        padding: 1em;
    }
}
.down_arrow {
    width: 100vw;
    border-block-end: solid 2px #d9dbe9;
    display: flex;
    justify-content: center;
}

