@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$font-family;
}


header {
    color: variables.$primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px #bca4ff solid;
}

 footer {
    h3 {
        color: variables.$primary-color;
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    p {
        text-align: center;
        color: variables.$text-color;
    }
    .email {
        color: #5F2EEA;
    }
 }

