@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$font-family;
    min-width: 390px;
}

header {
    color: variables.$primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px #bca4ff solid;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
}

.search--destinations {
    background-color: #2a00a2;
    border-radius: 1.25rem;
    padding: 1rem;
    width: 360px;
    height: 615px;
    margin-inline-start: 1rem;

    h3 {
        color: #bca4ff;
        font-size: 1.5rem;
        padding-block-end: 1rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: 0.75px;
        color: #f3efff;
        padding: 0.5rem;
        padding-block-start: 0.8rem;
    }

    img {
        width: 1.5em;
    }

    .foward {
        width: 0.8em;
        margin: 15px;
        margin-block-start: 20px;
    }

    .destinations__button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #eff0f7;
        border-radius: 15px;
        height: 60px;
        padding: 0.7rem;
        font-size: 1rem;
    }

    .destinations__text {
        width: 210px;
    }

    button {
        margin-block-start: 10px;
        background-color: variables.$secondary-color;
        color: #f7f7fc;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1.75rem;
        border-radius: 2.5rem;
        border: none;
        width: 320px;
        margin-block-start: 1rem;
    }
}

.destination--search {
    font-family: variables.$font-family;
    height: 8vh;
    border-radius: 1rem;
    background: #eff0f7;
}

section {
    h2 {
        font-family: variables.$font-family;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 32px;
        width: 90vw;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 1em;
    }
}

.search {
    font-weight: 400;
    .search--button {
        background: variables.$secondary-color;
        color: white;
        border: none;
        border-radius: 30px;
        height: 10vh;
    }
    button {
        background: #f7f7fc;
        border: 2px solid #14142b;
        border-radius: 16px;
        font-family: variables.$font-family;
        width: 86vw;
        margin-block-start: 2vh;
        margin-block-end: 4vh;
        margin-inline-start: 7vw;
        margin-inline-end: 7vw;
        height: 6vh;
    }
    .search--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
    }
}

.result__description {
    display: flex;
}
.ratings {
    display: flex;
    flex-direction: row;
}

.map_location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-us {
    margin-block: 2rem;
    .img--container {
        display: flex;
        justify-content: center;
        img {
            border-radius: 2rem;
            width: 90vw;
            height: 55vh;
        }
    }
    .contact-us__text--container {
        position: absolute;
        z-index: 10;
        margin-block-start: 5rem;
        h3 {
            font-size: 3rem;
            line-height: 3rem;
            text-align: center;
            color: #ffffff;
        }
        button {
            border: 2px solid #fcfcfc;
            border-radius: 2.5rem;
            background-color: Transparent;
            color: #fcfcfc;
            font-size: 1rem;
            width: 80vw;
            height: 8vh;
            margin-inline-start: 2.5rem;
            margin-block-start: 2rem;
        }
    }
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;

    .boxes--green_box {
        background-color: #f2fffb;
        border: #00ba88;
        color: #00ba88;
        border: 2px solid;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block-start: 6vh;
        margin-block-end: 6vh;
        align-items: center;
    }
    .boxes--red_box {
        background-color: #fff3f8;
        border: #bb5d5b;
        border: 2px solid;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #bb5d5b;
        align-items: center;
    }
    .boxes p {
        margin: 1em;
        padding: 1em;
    }
}

.arrow_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.down_arrow {
    border-block-end: solid 2px #d9dbe9;
    display: flex;
    justify-content: center;
}
.arrow__item {
    border-block-end: solid 1px #d9dbe9;
    display: flex;
    width: 40vw;
}

.search--results {
    padding: 1rem;
    h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        color: #000000;
        padding: 1rem;
    }
    .image__container {
        display: flex;
        overflow-x: scroll;
    }
    img {
        display: flex;
        padding-block: 1rem;
        padding-inline-end: 1rem;
    }
    h4 {
        color: #5f2eea;
        font-size: 1.5rem;
        padding-block: 0.5rem;
    }
    p {
        color: #4e4b66;
        padding-block-end: 0.5rem;
    }
    h5 {
        color: #5f2eea;
        font-size: 1rem;
        padding-block-end: 0.5rem;
    }
    button {
        border: 2px solid #d9dbe9;
        border-radius: 2.5rem;
        background-color: Transparent;
        color: #5f2eea;
        width: 10rem;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: 600;
        font-family: variables.$font-family;
    }
}

footer {
    h3 {
        color: variables.$primary-color;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem;
    }
    h4 {
        text-align: center;
        font-size: 1.25rem;
    }
    p {
        text-align: center;
        color: variables.$text-color;
        padding: 1rem;
        font-size: 1rem;
    }
    .email {
        color: #5f2eea;
    }
}

@media screen and (min-width: 500px) {
    .search {
        display: flex;
        flex-direction: row;
        button {
            margin-inline-start: 20px;
        }
    }

    .search--long-button {
        min-width: 475px;
    }

    .search--short-button {
        min-width: 260px;
    }
}
