@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$font-family;
}

header {
    color: variables.$primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px #bca4ff solid;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
}

.search--destinations {
    background-color: variables.$primary-color;
    width: 420px;
    height: 614px;
    margin: 30px;
    border-radius: 20px;
    padding: 30px;

    h2 {
        color: #bca4ff;
    }

    div {
        display: flex;
        flex-direction: column;
        color: #f3efff;
        font-size: 1.1rem;
        line-height: 1.75rem;
        margin-block-start: 20px;
    }

    select,
    input {
        margin-block-end: 20px;
        color: #14142b;
        font-size: 1.1rem;
    }

    button {
        margin-block-start: 10px;
        background-color: variables.$secondary-color;
        color: #f7f7fc;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1.75rem;
        border-radius: 2.5rem;
        border: none;
        width: 65vw;
        margin-inline-start: 20px;
    }
}

.destination--search {
    font-family: variables.$font-family;
    height: 8vh;
    border-radius: 1rem;
    background: #eff0f7;
}

footer {
    h3 {
        color: variables.$primary-color;
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    p {
        text-align: center;
        color: variables.$text-color;
    }
    .email {
        color: #5f2eea;
    }
}

section {
    h2 {
        font-family: variables.$font-family;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 32px;
        width: 100vw;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 1em;
    }
}
.search {
    font-weight: 400;
    .search--button {
        background: variables.$secondary-color;
        color: white;
        border: none;
        border-radius: 30px;
        height: 10vh;
    }
    button {
        background: #f7f7fc;
        border: 2px solid #14142b;
        border-radius: 16px;
        font-family: variables.$font-family;
        width: 86vw;
        margin-block-start: 2vh;
        margin-block-end: 4vh;
        margin-inline-start: 7vw;
        margin-inline-end: 7vw;
        height: 6vh;
    }
    .search--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
    }
}
